/* cart.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.cart-container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
}

.cart-item {
    border-bottom: 1px solid #ddd;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item p {
    margin: 0;
}

.item-quantity {
    width: 50px;
    text-align: center;
}

button {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

.remove-item {
    background-color: #dc3545;
}

.remove-item:hover {
    background-color: #c82333;
}

.cart-summary {
    margin-top: 30px;
    text-align: right;
}

#checkout-btn {
    background-color: #007bff;
    padding: 10px 20px;
}

#checkout-btn:hover {
    background-color: #0069d9;
} 